<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>View Trends - Pak Political Trends</title>

    <!-- Bootstrap core CSS -->
     <link href="{% static "vendor/bootstrap/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/modern-business.css" %}" rel="stylesheet">


</head>

<body background="{% static "images/Full_Background.png" %}">

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{% url 'Pak_Political_Trends:index' %}">Pak Political Trends</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Pak_Political_Trends:about' %}">About</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Pak_Political_Trends:trends_form' %}">View Trends</a>
                </li>

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Pak_Political_Trends:user_registration' %}">Register</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Pak_Political_Trends:user_login' %}">Login</a>
                </li>
                {% endif %}

            <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Other Pages
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                        <a class="dropdown-item" href="">FAQ</a>
                        <a class="dropdown-item" href="">404</a>
                        <a class="dropdown-item" href="">Pricing Table</a>
                    </div>
                </li>
                -->
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">View Trends

    </h1>

    <ol class="breadcrumb" style="background-color: #d5f4e6;">
        <li class="breadcrumb-item">
            <a href="{% url 'Pak_Political_Trends:index' %}">Home</a>
        </li>
        <li class="breadcrumb-item active">View Trends</li>
    </ol>

    <!-- Image Header -->
    <img class="img-fluid rounded mb-4" src="{% static "images/Big Cover Banner.png "%}" alt="">

    <!-- Marketing Icons Section -->

    <div class="row">

        <div class="col-lg-5 mb-3 col-centered custom_pad">
            <div class="card h-100" style="background-color: #d5f4e6;">
                <h4 class="card-header text-center">Please Enter Following Details</h4>
                <div class="card-body" style="background-color: #E0FFFF;">
                    <div class="row w-100 justify-content-lg-center">

                    <form method="get" style="text-align: center; padding-left: 25px">
                        {% csrf_token %}
                        {{ trends_input_form.as_p.non_field_errors }}
                        <div class="fieldWrapper form-group">
                            {{ trends_input_form.topic }}
                        </div>

                        <div class="fieldWrapper form-group">
                            {{ trends_input_form.to_date }}
                        </div>

                        <div class="fieldWrapper form-group">
                            {{ trends_input_form.from_date }}
                        </div>

                        <div class="fieldWrapper form-group">
                            <input class="btn btn-primary btn-danger" type="submit" value="Submit">
                        </div>

                    </form>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-2 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright 2017-18 &copy; All Rights Reserved</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

</body>
</html>
